[submodule "cuboktahedron.github.io"]
	path = public
	url = https://github.com/cuboktahedron/cuboktahedron.github.io
[submodule "public"]
	path = public
	url = https://github.com/cuboktahedron/cuboktahedron.github.io.git
