body {
  background-color: black;
  color: white;
  font-family: Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
}

header .jumbotron {
  background: #800000;
  background: linear-gradient(#800000, black);
  color: white;
  border-radius: 0;
}

nav.navbar {
  background: #cc0000;
  border-radius: 0;
  font-weight: bold;
}

.navbar-nav .nav-link {
  padding: 0 8px;
}

header a {
  color: white;
  text-decoration: none;
}

header a:link,
header a:visited {
  color: white;
  text-decoration: none;
}

header a:hover,
header a:active {
  color: #cc0000;
  background: white;
  text-decoration: none;
}

header .jumbotron p {
  padding-left: 1em;
}

footer {
  border-top: solid 1px #222;
  margin: auto 16px;
  padding: 16px;
  text-align: center;
}

.main-contents h1 {
  border: solid green;
  border-width: 0 0 1px 15px;
  padding-left: 15px;
}

.main-contents h2 {
  border-bottom: solid 2px green;
}

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}
