body {
  font-family: Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
}

#stage canvas {
  cursor: pointer;
  height: 100%;
  width: 100%;
}

#velocity {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

#repeat-wrapper {
  background-color: grey;
  float: left;
  height: 2em;
  line-height: 2em;
  text-align: center;
  width: 10%;
}

#chk-repeat {
  height: 2em;
  margin: 0 auto;
  width: 2em;
}

#repeat-wrapper:hover {
  cursor: pointer;
  background-color: white;
}

#repeat-wrapper:hover #chk-repeat {
  background-color: white;
}

#chk-repeat.checked {
  background-color: black !important;
}

#velocity-changer {
  position: relative;
  width: 100%;
}

.velocity-changer {
  background-color: grey;
  color: white;
  float: left;
  font-weight: bold;
  height: 2em;
  line-height: 2em;
  margin: 0 auto;
  text-align: center;
  width: 45%;
}

.velocity-changer:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

