.pattern {
  margin-bottom: 12px;
}

.pattern:after {
  content: '';
  clear: both;
  display: block;
}

.pattern .lc {
  float: left;
  margin-right: 8px;
}

.pattern .rc {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.pattern img {
  background-color: grey;
  cursor: pointer;
  padding: 6px;
  vertical-align: middle;
}

.pattern p {
  font-family: 'Courier New', Courier, Consolas, Monaco, monospace;
  font-size: 1.8em;
  font-weight: bold;
  margin-left: 8px;
}

.pattern p.steps span:after {
  content: ' ';
  font-size: 6px;
}

.pattern {
  page-break-inside: avoid;
}

.type {
  margin: 4px 0;
}

.type-b img {
  transform: rotateZ(90deg);
  -ms-transform: rotate(90deg);
}

.type-c img {
  transform: rotateZ(180deg);
  -ms-transform: rotate(180deg);
}

.type-d img {
  transform: rotateZ(270deg);
  -ms-transform: rotate(270deg);
}
