{{ partial "header.html" . }}
{{ partial "subheader.html" . }}
<div class="container">
  <article class="main-contents col-sm-9">
    <h2>CFOP</h2>
    <br>
    <a href="./own_oll_patterns"><h3>OLL</h3></a>
    <br>
    <a href="./own_pll_patterns"><h3>PLL</h3></a>
    <br>
    <a href="./pll_2face"><h3>PLL2面判断全組み合わせ</h3></a>
    <br>
    <a href="./pll_2face_practice"><h3>PLL2面判断強化</h3></a>
    <br>
    <h2>Roux Method</h2>
    <br>
    <h3>CMLL</h3>
    <br>
    <a href="./rm_eo_patterns"><h3>EO</h3></a>
    <br>
    <a href="./rm_lr_patterns"><h3>LR</h3></a>
    <br>
    <a href="./rm_l4e_patterns"><h3>L4E</h3></a>
    <br>
    <h2>BLD</h2>
    <a href="./m2_patterns"><h3>M2法</h3></a>
    <br>
    <a href="./r2_patterns"><h3>R2法</h3></a>
    <br>
    <a href="./old_pochmann_patterns"><h3>Old Pochmann法</h3></a>
    <br>
    <a href="./corner_3cycle"><h3>Corner 3-cycle</h3></a>
    <br>
    <a href="./parity"><h3>Parity</h3></a>
  </article>
  <nav class="sidemenu col-sm-3">
    {{ partial "sidemenu.html" . }}
  </nav>
</div>

{{ partial "footer.html" . }}

