{{ partial "header.html" . }}
{{ partial "subheader.html" . }}
<div class="container">
  <article class="main-contents col-sm-9">
    <h2>OLL</h2>
    <br>
    <a href="./own_oll_patterns"><h3>手順</h3></a>
    <p>
      自分が使っているOLLの回し方をまとめています。(57/57)
    </p>
    <br>
    <h2>PLL</h2>
    <a href="./own_pll_patterns"><h3>手順</h3></a>
    <p>
      自分が使っているPLLの回し方をまとめています。(21/21)
    </p>
    <br>
    <a href="./pll_2face"><h3>PLL2面判断全組み合わせ</h3></a>
    <p>
      全PLLの全配色に対して全方向から見た際の組み合わせを確認できます。
    </p>
    <br>
    <a href="./pll_2face_practice"><h3>PLL2面判断強化</h3></a>
    <p>
      PLLの2面判断力が鍛えられます。
    </p>
    <br>
    <h2>BLD</h2>
    <a href="./m2_patterns"><h3>M2法</h3></a>
    <p>
      M2法の回し方をまとめています。
    </p>
    <br>
    <a href="./r2_patterns"><h3>R2法</h3></a>
    <p>
      R2法の回し方をまとめています。
    </p>
    <br>
    <a href="./old_pochmann_patterns"><h3>Old Pochmann法</h3></a>
    <p>
      OLD Pochmann法の回し方をまとめています。
    </p>
    <br>
    <a href="./corner_3cycle"><h3>Corner 3-cycle</h3></a>
    <p>
      コーナー3-cycleの回し方をまとめています。
    </p>
    <br>
    <a href="./parity"><h3>Parity</h3></a>
    <p>
      パリティ手順をまとめています。
    </p>
  </article>
  <nav class="sidemenu col-sm-3">
    {{ partial "sidemenu.html" . }}
  </nav>
</div>

{{ partial "footer.html" . }}

