{{ partial "header.html" . }}
{{ partial "subheader.html" . }}
<div class="container">
  <article class="main-contents col-sm-9">
    <h2>OLL</h2>
    <br>
    <a href="./own_oll_patterns"><h3>手順</h3></a>
    <p>
      自分が使っているOLLの回し方をまとめています。(35/57)  
    </p>
    <br>
    <h2>PLL</h2>
    <a href="./own_pll_patterns"><h3>手順</h3></a>
    <p>
      自分が使っているPLLの回し方をまとめています。(21/21)  
    </p>
    <br>
  </article>
  <nav class="sidemenu col-sm-3">
    {{ partial "sidemenu.html" . }}
  </nav>
</div>

{{ partial "footer.html" . }}

